.products-row {
  margin-top: 40px;
}

.pagination-row {
  margin-top: 40px;
}

.radio-input {
  position: absolute;
  opacity: 0;
  z-index: -1;
  cursor: pointer;
}

.cart {
  margin-top: 20px;
}

.card-img-cart {
  width: 50px;
}
.product-item {
  margin-bottom: 20px;
}
